

/* Slide */
.slide .slick-prev, .slide .slick-next {
  position: absolute;
  top: calc(50% - 20px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  opacity: 1;
  z-index: 1;
}
.slide .slick-prev {
  left: 0;
}
.slide .slick-prev::before {
  content: "\f053";
  font-family: "FontAwesome";
  color: #000000;
  font-size: 16px;
}
.slide .slick-next::before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #000000;
  font-size: 16px;
}
.slide .slick-next {
  right: 0;
}
.button {
  background-color: #1C1C1C;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  padding: 14px 28px;
}
.button i {
  font-size: 14px;
  transition: all 0.4s;
}
.button:hover.button i{
  transform: translateX(5px);
}
.slide .item{
  padding: 100px 0;
  height: 550px;
  background-size: cover;
  background-position: center;
}
.slide .item.item-one {
  background-image: url(../img/bg-1.jpg);
}
.slide .item.item-one .inner-item{
  margin-left: 10%;
}
.slide .item.item-one .inner-item .title{
  font-size: 44px;
}
.slide .item.item-one .inner-item .sale {
  font-size: 100px;
  color: #ff6f61;
}
.slide .item.item-one .inner-item .code{
  font-size: 24px;
  font-weight: 500;
}
.slide .item.item-two {
  background-image: url(../img/bg-2.jpg);
}
.slide .item.item-two .inner-item .title{
  max-width: 300px;
  font-size: 44px;
}
.slide .item.item-two .inner-item .content {
  max-width: 350px;
  font-size: 18px;
  margin: 30px 0;
}
.slide .item.item-three {
  background-image: url(../img/bg-3.jpg);
}
.slide .item.item-three .inner-item {
  color: #ffffff;
}
.slide .item.item-three .inner-item .title{
  font-size: 28px;
}
.slide .item.item-three .inner-item .sale {
  font-size: 110px;
}
@media screen and (max-width: 1200px) {
  .slide .item.item-one .inner-item{
    margin-left: 8%;
  }
  .slide .item.item-two .inner-item .title{
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .slide .item.item-one .inner-item{
    margin-left: 6%;
  }
  .slide .item.item-two .inner-item .title{
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .slide .item.item-one .inner-item{
    margin-left: 0;
  }
  .slide .item.item-one .inner-item .title{
    font-size: 36px;
  }
  .slide .item.item-one .inner-item .sale {
    font-size: 78px;
  }
  .slide .item.item-one .inner-item .code{
    font-size: 22px;
  }
  .slide .item.item-two .inner-item .title{
    max-width: 100%;
    font-size: 36px;
  }
  .slide .item.item-two .container {
    justify-content: start !important;
  }
  .slide .item.item-three .inner-item .title{
    font-size: 24px;
  }
  .slide .item.item-three .inner-item .sale {
    font-size: 78px;
  }

}
@media screen and (max-width: 576px) {
  .slide .item.item-three .inner-item .sale {
    max-width: 170px;
  }
  
}
/* End Slide */

/* Sec-one */
.sec-one {
  margin: 20px 0;
}
.sec-one .item {
  padding: 30px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}
.sec-one .item:hover.item .button i {
  transform: translateX(5px);
} 
.sec-one .item .title {
  font-size: 28px;
}
.sec-one .item .button {
  background-color: transparent;
  color: #1F1F1F;
  padding: 0;
}
.sec-one .item.item-one {
  background-image: url(../img/sec-one-1.jpg);
}
.sec-one .item.item-two {
  background-image: url(../img/sec-one-2.jpg);
}
.sec-one .item.item-three {
  background-image: url(../img/sec-one-3.jpg);
}
/* End Sec-one */

/* Sec-two */
.sec-two {
  margin: 80px 0;
}
.sec-two .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-two .item .image img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sec-two .item .name {
  font-size: 36px;
  margin-bottom: 30px;
}
.sec-two .item .option .cate {
  border: 0;
  background-color: #ffffff;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.4s;
  position: relative;
}
.sec-two .item .option .cate.active {
  color: #ff6f61;
}
.sec-two .item .option .cate.active::after{
  content: "";
  position: absolute;
  width: 60px;
  border: 1px solid #ff6f61;
  left: 15%;
  bottom: 15%;
}
.sec-two .item .option .cate:hover {
  color: #ff6f61;
}
.sec-two .slide-category .item{
  padding: 16px;
}
.sec-two .slide-category .item .image img {
  width: 100%;
}
.sec-two .slide-category .item .name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}
.sec-two .slide-category .item .name span {
  font-size: 16px;
}
.sec-two .slick-next, .slick-prev {
  position: absolute;
  top: 40%;
}
.sec-two .slick-next {
  right: -5%;
}
.sec-two .slick-prev {
  left: -5%;
}
.sec-two .slick-next:before {
  font-size: 25px;
  color: #ddd;
  content: "\f054";
  font-family: "FontAwesome";
}
.sec-two .slick-prev:before{
  font-size: 25px;
  color: #ddd;
  content: "\f053";
  font-family: "FontAwesome";
}
@media screen and (max-width: 768px) {
  .sec-two .item .name {
    font-size: 30px;
  }

}
/* End Sec-two */

/* Sec-three */
.sec-three {
  margin: 80px 0;
}
.sec-three .item {
  position: relative;
}
.sec-three .item .sale{
  width: 100px;
  height: 100px;
  background-color: #ff6f61;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  top: 3%;
  right: 3%;
}
.sec-three .item .sale .new {
  font-size: 20px;
}
.sec-three .item .sale .old {
  font-size: 14px;
  text-decoration: line-through;
  opacity: 0.7;
}
.sec-three .item .mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  background-color: #ffffff;
  margin-top: -80px;
  position: relative;
  z-index: 1;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s;
  cursor: pointer;
}
.sec-three .item .mid:hover.mid .button i{
  transform: translateX(5px);
}
.sec-three .item .mid h2 {
  margin: 0;
  font-size: 26px;
}
.sec-three .item .mid .bottom .button {
  background-color: transparent;
  color: #000000;
}

/* End Sec-three */

/* Sec-four */
.sec-four {
  margin-bottom: 80px;
}
.sec-four .title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.sec-four .slide-category .item {
  padding: 0 16px;
}
.sec-four .slide-category .item .image img {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sec-four .slide-category .item .image {
  position: relative;
}
.sec-four .slide-category .item .image .sale {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 11px;
  background-color: #1C1C1C;
  color: #ffffff;
  left: 0;
  top: 8%;
}
.sec-four .slide-category .item .image .wish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.3s;
}
.sec-four .slide-category .item .image .wish:hover{
  background-color: #ff6f61;
  color: #ffffff;
}
.sec-four .slide-category .item .image .btn-quick-view {
  border: 0;
  width: 100%;
  background-color: #1C1C1C;
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  display: none;
  font-weight: 500;
}
.sec-four .slide-category .item .image:hover.image .btn-quick-view{
  display: block;
}
.sec-four .slide-category .item .name {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.sec-four .slide-category .item .price {
  text-align: center;
  font-weight: 500;
}
.sec-four .slide-category .item .price .price-only {
  color: #A6A6A6;
}
.sec-four .slide-category .item .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
.sec-four .slide-category .item .price .new, .option {
  color: #ff6f61;
}
.sec-four .slick-dots {
  margin-bottom: -35px;
}
.sec-four .slick-dots li {
  margin: 0;
  width: 80px;
}
.sec-four .slick-dots .slick-active button {
  background-color: #ff6f61;
}
.sec-four .slick-dots li button:before{
  content: "";
  display: none;
}
.sec-four .slick-dots li button {
  border: 0;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: #E5E5E5;
}
@media screen and (max-width: 576px) {
  .sec-four .title {
    font-size: 30px;
  }

}
/* End Sec-four */

/* Sec-five */
.sec-five {
  margin: 120px 0 80px 0;
}
.sec-five .slide-left .item .image {
  width: 80%;
}
.sec-five .slide-left .item .image img {
  width: 100%;
}
.sec-five .slide-right .item {
  padding: 0 16px;
}
.sec-five .slide-right .item .image img {
  width: 100%;
}
.sec-five .slide-right .item .image {
  position: relative;
}
.sec-five .slide-right .item .image .sale {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 11px;
  background-color: #1C1C1C;
  color: #ffffff;
  left: 0;
  top: 8%;
}
.sec-five .slide-right .item .image .wish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.3s;
}
.sec-five .slide-right .item .image .wish:hover{
  background-color: #ff6f61;
  color: #ffffff;
}
.sec-five .slide-right .item .name {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.sec-five .slide-right .item .price {
  text-align: center;
  font-weight: 500;
}
.sec-five .slide-right .item .price .price-only {
  color: #A6A6A6;
}
.sec-five .slide-right .item .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
.sec-five .slide-right .item .price .new, .option {
  color: #ff6f61;
}
.sec-five .slick-dots li button:before{
  font-size: 35px;
  opacity: 1;
  color: #E5E5E5;
}
.sec-five .slick-dots li.slick-active button:before{
  color: #ff6f61;
  opacity: 1;
}
.sec-five .sub-title {
  font-size: 13px;
  color: #A6A6A6;
  font-weight: 500;
  text-align: center;
}
.sec-five .title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .sec-five .slide-left{
    display: none;
  }
  .sec-five .title {
    font-size: 28px;
  }
  .sec-five .slick-dots li {
    margin: 0;
  }
}
/* End Sec-five */

/* Sec-six */
.sec-six {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.sec-six .sub-title {
  font-size: 13px;
  color: #A6A6A6;
  font-weight: 500;
  text-align: center;
}
.sec-six .title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.sec-six .item .image img {
  width: 100%;
}
.sec-six .item .footer {
  background-color: #ffffff;
  padding: 32px 40px;
}
.sec-six .item .footer .time {
  font-size: 14px;
  color: #767474;
}
.sec-six .item .footer .content {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 25px;
  color: black;
}
.sec-six .item {
  transition: all 0.4s;
}
.sec-six .item:hover{
  transform: translateY(-5px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 768px) {
  .sec-six .title {
    font-size: 30px;
  }
}
/* End Sec-six */

