@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Jost";
}
.container {
  max-width: 1200px;
}
/* Header */
.nav-item .nav-link {
  color: #1F1F1F;
  font-weight: 500;
}
.nav-item .nav-link:hover {
  color: #ff6f61;
  transition: all 0.2s;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 16px;
  padding-right: 16px;
}
.navbar-expand-sm .navbar-nav .nav-link.nav-pad{
  padding-left: 8px;
  padding-right: 8px;
}
.logo {
  font-size: 28px;
  font-weight: 600;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 600;
}
.mx-8 {
  margin-left: 80px;
  margin-right: 80px;
}
.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
}
.fa-solid{
  margin-left: 5px;
  vertical-align: -1px;
}
#cart::after {
  content: attr(data-cart);
  color: #ffffff;
  position: absolute;
  display: flex;
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6f61;
  justify-content: center;
  align-items: center;
  top: -40%;
  left: 65%;

}
/* End Header */

/* Slide */
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: calc(50% - 20px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  opacity: 1;
}
.button {
  background-color: #1C1C1C;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  padding: 14px 28px;
}
.button i {
  font-size: 14px;
  transition: all 0.4s;
}
.button:hover.button i{
  transform: translateX(5px);
}
.carousel-item .item{
  padding: 100px 0;
  height: 550px;
  background-size: cover;
  background-position: center;
}
.carousel-item .item.item-one {
  background-image: url(../img/bg-1.jpg);
}
.carousel-item .item.item-one .inner-item{
  margin-left: 120px;
}
.carousel-item .item.item-one .inner-item .title{
  font-size: 44px;
}
.carousel-item .item.item-one .inner-item .sale {
  font-size: 100px;
  color: #ff6f61;
}
.carousel-item .item.item-one .inner-item .code{
  font-size: 24px;
  font-weight: 500;
}
.carousel-item .item.item-two {
  background-image: url(../img/bg-2.jpg);
}
.carousel-item .item.item-two .inner-item .title{
  max-width: 300px;
}
.carousel-item .item.item-two .inner-item .content {
  max-width: 350px;
  font-size: 18px;
  margin: 30px 0;
}
.carousel-item .item.item-three {
  background-image: url(../img/bg-3.jpg);
}
.carousel-item .item.item-three .inner-item {
  color: #ffffff;
}
.carousel-item .item.item-three .inner-item .title{
  font-size: 28px;
}
.carousel-item .item.item-three .inner-item .sale {
  font-size: 110px;
}
/* End Slide */

/* Sec-one */
.sec-one {
  margin: 20px 0;
}
.sec-one .item {
  padding: 30px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}
.sec-one .item:hover.item .button i {
  transform: translateX(5px);
} 
.sec-one .item .title {
  font-size: 28px;
}
.sec-one .item .button {
  background-color: transparent;
  color: #1F1F1F;
  padding: 0;
}
.sec-one .item.item-one {
  background-image: url(../img/sec-one-1.jpg);
}
.sec-one .item.item-two {
  background-image: url(../img/sec-one-2.jpg);
}
.sec-one .item.item-three {
  background-image: url(../img/sec-one-3.jpg);
}
/* End Sec-one */

/* Sec-two */
.sec-two {
  margin: 80px 0;
}
.sec-two .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-two .item .image img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sec-two .item .name {
  font-size: 36px;
  margin-bottom: 30px;
}
.sec-two .item .option .cate {
  border: 0;
  background-color: #ffffff;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.4s;
  position: relative;
}
.sec-two .item .option .cate.active {
  color: #ff6f61;
}
.sec-two .item .option .cate.active::after{
  content: "";
  position: absolute;
  width: 60px;
  border: 1px solid #ff6f61;
  left: 15%;
  bottom: 15%;
}
.sec-two .item .option .cate:hover {
  color: #ff6f61;
}
.sec-two .slide-category .item{
  padding: 16px;
}
.sec-two .slide-category .item .image img {
  width: 100%;
}
.sec-two .slide-category .item .name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}
.sec-two .slide-category .item .name span {
  font-size: 16px;
}
.sec-two .slick-next, .slick-prev {
  position: absolute;
  top: 40%;
}
.sec-two .slick-next {
  right: -5%;
}
.sec-two .slick-prev {
  left: -5%;
}
.sec-two .slick-next:before {
  font-size: 25px;
  color: #ddd;
  content: "\f054";
  font-family: "FontAwesome";
}
.sec-two .slick-prev:before{
  font-size: 25px;
  color: #ddd;
  content: "\f053";
  font-family: "FontAwesome";
}
/* End Sec-two */

/* Sec-three */
.sec-three {
  margin: 80px 0;
}
.sec-three .item {
  position: relative;
}
.sec-three .item .sale{
  width: 100px;
  height: 100px;
  background-color: #ff6f61;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  top: 3%;
  right: 3%;
}
.sec-three .item .sale .new {
  font-size: 20px;
}
.sec-three .item .sale .old {
  font-size: 14px;
  text-decoration: line-through;
  opacity: 0.7;
}
.sec-three .item .mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  background-color: #ffffff;
  margin-top: -80px;
  position: relative;
  z-index: 1;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s;
  cursor: pointer;
}
.sec-three .item .mid:hover.mid .button i{
  transform: translateX(5px);
}
.sec-three .item .mid h2 {
  margin: 0;
  font-size: 26px;
}
.sec-three .item .mid .bottom .button {
  background-color: transparent;
  color: #000000;
}
/* End Sec-three */

/* Sec-four */
.sec-four {
  margin-bottom: 80px;
}
.sec-four .title {
  text-align: center;
  margin-bottom: 50px;
}
.sec-four .slide-category .item {
  padding: 0 16px;
}
.sec-four .slide-category .item .image img {
  width: 100%;
}
.sec-four .slide-category .item .image {
  position: relative;
}
.sec-four .slide-category .item .image .sale {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 11px;
  background-color: #1C1C1C;
  color: #ffffff;
  left: 0;
  top: 8%;
}
.sec-four .slide-category .item .image .wish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.3s;
}
.sec-four .slide-category .item .image .wish:hover{
  background-color: #ff6f61;
  color: #ffffff;
}
.sec-four .slide-category .item .image .btn-view {
  border: 0;
  width: 100%;
  background-color: #1C1C1C;
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  display: none;
  font-weight: 500;
}
.sec-four .slide-category .item .image:hover.image .btn-view{
  display: block;
}
.sec-four .slide-category .item .name {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.sec-four .slide-category .item .price {
  text-align: center;
  font-weight: 500;
}
.sec-four .slide-category .item .price .price-only {
  color: #A6A6A6;
}
.sec-four .slide-category .item .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
.sec-four .slide-category .item .price .new, .option {
  color: #ff6f61;
}
.sec-four .slick-dots {
  margin-bottom: -35px;
}
.sec-four .slick-dots li {
  margin: 0;
  width: 80px;
}
.sec-four .slick-dots .slick-active button {
  background-color: #ff6f61;
}
.sec-four .slick-dots li button:before{
  content: "";
  display: none;
}
.sec-four .slick-dots li button {
  border: 0;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: #E5E5E5;
}
/* End Sec-four */

/* Sec-five */
.sec-five {
  margin: 120px 0 80px 0;
}
.sec-five .slide-left .item .image {
  width: 80%;
}
.sec-five .slide-left .item .image img {
  width: 100%;
}
.sec-five .slide-right .item {
  padding: 0 16px;
}
.sec-five .slide-right .item .image img {
  width: 100%;
}
.sec-five .slide-right .item .image {
  position: relative;
}
.sec-five .slide-right .item .image .sale {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 11px;
  background-color: #1C1C1C;
  color: #ffffff;
  left: 0;
  top: 8%;
}
.sec-five .slide-right .item .image .wish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.3s;
}
.sec-five .slide-right .item .image .wish:hover{
  background-color: #ff6f61;
  color: #ffffff;
}
.sec-five .slide-right .item .name {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.sec-five .slide-right .item .price {
  text-align: center;
  font-weight: 500;
}
.sec-five .slide-right .item .price .price-only {
  color: #A6A6A6;
}
.sec-five .slide-right .item .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
.sec-five .slide-right .item .price .new, .option {
  color: #ff6f61;
}
.sec-five .slick-dots li button:before{
  font-size: 35px;
  opacity: 1;
  color: #E5E5E5;
}
.sec-five .slick-dots li.slick-active button:before{
  color: #ff6f61;
  opacity: 1;
}
.sec-five .sub-title {
  font-size: 13px;
  color: #A6A6A6;
  font-weight: 500;
  text-align: center;
}
.sec-five .title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
/* End Sec-five */

/* Sec-six */
.sec-six {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.sec-six .sub-title {
  font-size: 13px;
  color: #A6A6A6;
  font-weight: 500;
  text-align: center;
}
.sec-six .title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.sec-six .item .image img {
  width: 100%;
}
.sec-six .item .footer {
  background-color: #ffffff;
  padding: 32px 40px;
}
.sec-six .item .footer .time {
  font-size: 14px;
  color: #767474;
}
.sec-six .item .footer .content {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 25px;
  color: black;
}
.sec-six .item {
  transition: all 0.4s;
}
.sec-six .item:hover{
  transform: translateY(-5px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* End Sec-six */

/* Sec-util */
.sec-util {
  padding: 48px 0;
}
.sec-util .item {
  display: flex;
}
.sec-util .item .left {
  margin-right: 20px;
}
.sec-util .item .left i {
  color: #ff6f61;
}
.sec-util .item .right .title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}
.sec-util .item .right .sub-title{
  font-size: 15px;
  color: #767676;
}
/* End Sec-util */

/* Footer */
.footer {
  background-color: #1F1F1F;
  color: #f5f5f5;
}
.footer .infor {
  padding: 96px 0;
}
.footer .infor .mail {
  font-size: 24px;
  margin-bottom: 32px;
}
.footer .infor input[type="text"] {
  padding: 17px 30px;
  background-color: #303030;
  border: 0;
  color: #ffffff;
  width: 400px;
  margin-right: 20px;
}
.footer .infor input[type="text"]:focus {
  border: none;
  outline: 0;
}
.footer .infor button {
  padding: 17px 30px;
  background-color: #636161;
  border: 0;
  color: #ffffff;
}
.footer .infor button:hover {
  background-color: #5e5a5a;

}
.col-24{
  width: 20%;
}
.footer .infor ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .infor .name {
  font-size: 28px;
  margin-bottom: 24px;
}
.footer .infor .social .item {
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 5px;
  color: #BABABA;
}
.footer .infor .social .item:hover {
  color: #A6A6A6;
}
.footer .infor .title{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer .infor ul li {
  color: #BABABA;
  cursor: pointer;
  transition: all 0.2s;
}
.footer .infor ul li:hover{
  color: #A6A6A6;
}
.footer .payment {
  padding: 24px 0;
  border-top: 1px solid #303030;
}
.footer .payment p {
  font-size: 13px;
  color: #BABABA;
}

/* End Footer */

/* Modal */
.modal-content{
  border: 0;
  border-radius: 0;
}
.modal .left .image img {
  width: 100%;
}
.modal .left .product-info {
  width: 100%;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  padding: 13px 24px;
  font-size: 15px;
  background-color: #ff6f61;
}
.modal .left .product-info span {
  margin-left: 10px;
}
.modal .right {
  padding: 48px;
}
.size-input {
  padding: 8px;
  min-width: 48px;
  border-radius: 0;
  border: 1px solid #ddd;
  color: #767676;
  margin-right: 10px;
  margin-bottom: 10px;
}
.size-input.through {
  text-decoration: line-through;
}
.btn-check+.btn:hover{
  border: 1px solid #ddd;
  color: #767676;
}
.btn-check:checked + .btn{
  pointer-events: none;
}
.modal .right {
  position: relative;
}
.modal .right .btn-close {
  position: absolute;
  top: 3%;
  right: 4%;
}
.modal .right .btn-close:focus {
  box-shadow: none;
}
.modal .right .name {
  font-size: 28px;
  margin-bottom: 12px;
}
.modal .right .price {
  font-size: 24px;
  font-weight: 500;
}
.modal .right .price span {
  font-size: 15px;
  font-weight: 400;
}
.modal .right .color {
  margin-bottom: 3%;
}
.modal .right .color #color {
  font-weight: 500;
}
.modal .right .size #size {
  font-weight: 500;
}
.modal .right .size {
  margin-bottom: 24px;
}
.modal .right .size-list {
  margin-bottom: 24px;
}
.modal .right .button-modal .quantity{
  padding: 14px 72px 14px 24px;
  border: 1px solid #ddd;
}
.modal .right .button-modal .quantity.form-select{
  border-radius: 0;
}
.modal .right .button-modal .quantity.form-select:focus{
  box-shadow: none;
}
.modal .right .button-modal .add-cart {
  padding: 14px 28px;
  border: 0;
  font-weight: 500;
  background-color: #1C1C1C;
  color: #ffffff;
}
.modal .right .button-modal .add-cart span {
  margin-left: 5px;
}
.modal .right .button-modal .wish {
  padding: 14px 28px;
  border: 1px solid #1C1C1C;
  background-color: #ffffff;
  transition: all 0.2s;
}
.modal .right .button-modal .wish:hover {
  background-color: #1C1C1C;
  color: #ffffff;
}


.modal .right .image .rd-img{
  display: none; /* Ẩn nút radio*/
}

.modal .right .image label {
  cursor: pointer;
  width: 70px; 
  height: 70px; 
  background-size: cover; 
  margin-right: 10px;
}
.modal .right .image .lb1 {
  background-image: url(../img/modal-1.jpg);
}
.modal .right .image .lb2 {
  background-image: url(../img/modal-2.jpg);
}
.modal .right .image {
  margin-bottom: 40px;
}
.modal .right .rd-img:checked + label {
  border-bottom: 2px solid #000;
}
/* End Modal */
.offcanvas {
  min-width: 470px;
  overflow-y: scroll;
}
.search .btn-close{
  position: absolute;
  top: 3%;
  right: 6%;
}
.search .btn-close:focus {
  box-shadow: none;
}
.search .offcanvas-header {
  padding: 24px 32px;
  border-bottom: 1px solid #ddd;
}
.search .offcanvas-header .title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.search .offcanva-body{
  padding: 32px;
  border-bottom: 1px solid #ddd;
  flex-grow: 0;
}
.search .offcanva-body .form-select {
  padding: 14px 72px 14px 24px;
  border-radius: 0;
  margin-bottom: 24px;
}
.search .offcanva-body .form-select:focus{
  box-shadow: none;
  border: 1px solid #1C1C1C;
}
.search .offcanva-body .input-group .form-control {
  padding: 14px 24px;
  border-radius: 0;
  border-right: 0;
}
.search .offcanva-body .input-group .form-control:focus{
  box-shadow: none;
  border: 1px solid #1C1C1C;
  border-right: 0;
}
.search .offcanva-body .input-group .form-control:focus + .input-group-append .button-search{
  border: 1px solid #1C1C1C;
  border-left: 0;
}
.search .offcanva-body .input-group .input-group-append button {
  padding: 14px 28px;
  border: 1px solid #ddd;
  border-left: 0;
  background-color: #ffffff;
}
.search .offcanva-footer {
  padding: 32px;
}
.search .offcanva-footer .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.search .offcanva-footer .list .item {
  margin-bottom: 15px;
}
.search .offcanva-footer .list .item img {
  width: 100%;
}
.search .offcanva-footer .list .item .name {
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}
.search .offcanva-footer .list .item .price {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}
.search .offcanva-footer .view {
  background-color: transparent;
  border: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  align-items: center;
}
.search .offcanva-footer .view i {
  margin-left: 15px;
  transition: all 0.5s;
}
.search .offcanva-footer .view:hover.view i{
  transform: translateX(5px);
}

/* Cart */
.cart .offcanvas-header {
  padding: 24px 32px;
  border-bottom: 1px solid #ddd;
}
.cart .offcanvas-header .title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.cart .btn-close{
  position: absolute;
  top: 3%;
  right: 6%;
}
.cart .btn-close:focus {
  box-shadow: none;
}
.cart .offcanva-body{
  padding: 32px;
}
.cart .offcanva-body .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cart .offcanva-body .list .item {
  margin-bottom: 20px;
}
.cart .offcanva-body .list .item img {
  width: 100%;
}
.cart .offcanva-body .list .item .name {
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}
.cart .offcanva-body .list .item .price {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}
.cart .offcanva-body .list .item .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cart .offcanva-body .list .item .action .form-select {
  border-radius: 0;
}
.cart .offcanva-body .list .item .action .form-select:focus {
  box-shadow: none;
  border: 1px solid #1C1C1C;
}
.cart .offcanva-body .list .item .action a{
  text-decoration: none;
  color: #767676;
  font-size: 14px;
}
.cart .offcanva-body .list .item .action a i {
  margin-right: 10px;
}
.cart .offcanva-body .list .item .action a:hover{
  color: #545252;
}
.cart .total {
  padding: 24px 32px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #1F1F1F;
  font-weight: 500;
}
.cart .total .title {
  margin: 0;
}
.cart .offcanva-footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.cart .offcanva-footer .button-footer {
  padding: 14px 28px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
}
.cart .offcanva-footer .button-footer.btn-checkout {
  background-color: #1F1F1F;
  color: #ffffff;
  font-weight: 500;
}
.cart .offcanva-footer .button-footer.btn-view{
  background-color: transparent;
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
  font-weight: 500;
  transition: all 0.2s;
  margin-bottom: 0;
}
.cart .offcanva-footer .button-footer.btn-view:hover{
  background-color: #1C1C1C;
  color: #ffffff;
}
/* End Cart */